---
import AboutMe from "@/components/AboutMe.astro";
import AboutMeIcon from "@/components/icons/AboutMeIcon.astro";
import CodeIcon from "@/components/icons/CodeIcon.astro";
import Container from "@/components/Container.astro";
import Experience from "@/components/Experience.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Projects.astro";
import WorkIcon from "@/components/icons/WorkIcon.astro";

export const userData = {
	name: "Amador",
	mail: "amasabcar@outlook.com",
	github: "https://github.com/amadr-95",
	linkedin: "https://www.linkedin.com/in/amadorsabido",
	rol: "Full Stack Java Developer",
	description:
		"I am a passionate technology enthusiast, continuously acquiring new skills and exploring the limitless opportunities offered by the digital world. Experienced in multiple programming languages and frameworks, with a strong focus on delivering high-quality, efficient code.",
};
---

<Layout
	title="Amador's Portfolio - Full Stack Java Developer"
	description="Hire me to develop amazing web apps and services"
>
	<main class="px-6 md:px-12">
		<Header />
		<Container>
			<Hero />
		</Container>
		<Container id="experience">
			<h2
				class="flex items-center gap-x-4 text-3xl font-semibold mb-10 -ml-2"
			>
				<WorkIcon class="size-8" />
				Work Experience
			</h2>
			<Experience />
		</Container>
		<Container id="projects">
			<h2
				class="flex items-center gap-x-4 text-3xl font-semibold mb-10 -ml-2"
			>
				<CodeIcon class="size-8" />
				Projects
			</h2>
			<Projects />
		</Container>
		<Container id="about-me">
			<h2
				class="flex items-center gap-x-4 text-3xl font-semibold mb-8 -ml-2"
			>
				<AboutMeIcon class="size-8" />
				About Me
			</h2>
			<AboutMe />
		</Container>
		<Container>
			<Footer />
		</Container>
	</main>
</Layout>
