---
import { userData } from "@/pages/index.astro";
---

<article
	class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
	<div class="text-pretty order-2 md:order-1">
		<p class="mb-4">
			My name is Amador, I studied Robotics Engineering and worked for 2
			years as a production engineer. I decided I wanted a change and
			transitioned to the programming world. <strong
				class="text-yellow-100 font-mono"
			>
				It has been one of my best decisions</strong
			>.
		</p>

		<p class="mb-4">
			Among my successes, I highlight that during my Higher Degree studies, I
			helped my classmates learn about <strong
				class="text-yellow-100 font-mono"
			>
				Java's Spring Framework</strong
			>. I love testing, believe in its importance, and enjoy sharing my
			knowledge about it.
		</p>

		<p class="mb-4">
			I stay up to date in the development community. In my spare time I
			enjoy working out, playing boardgames and learning new programming
			languages; <strong class="text-yellow-100 font-mono">
				because besides being my job, I consider it as a hobby</strong
			>.
		</p>
	</div>

	<img
		width="200"
		height="200"
		loading="lazy"
		src="/images/me-professional.webp"
		alt={userData.name}
		class="order-1 object-cover md:w-64 md:h-full p-1 md:order-2 rotate-3 lg:w-64 aspect-auto rounded-2xl ring-2 ring-white/20"
	/>
</article>
