---
const EXPERIENCE = [
	{
		date: "Mar 2023 - Jun 2023",
		title: "Junior Java Developer",
		company: "Viafirma",
		description:
			"Java Spring Framework (Spring Boot, Spring Security y Spring Data JPA/Hibernate). Habilidades en el manejo de bases de datos relacionales SQL como PostgreSQL y MySQL, así como en el diseño y desarrollo de servicios de API RESTful. Testing con JUnit y Mockito.",
		latest: true,
	},
	{
		date: "May 2019 - Mar 2021",
		title: "Production Engineer",
		company: "Saica Group",
		description:
			"Responsable  de proyecto de seguridad del Grupo Saica en España y Portugal. Procedimientos LOTO. Lean, 5S, análisis, tiempos de cambio, etc.). Supervisión del mantenimiento preventivo, evaluaciones de riesgos y gestión de no conformidades.",
	},
	{
		date: "Feb 2018 - Jun 2018",
		title: "Becario",
		company: "IDENER",
		description:
			"Proyectos de aprendizaje automático utilizando Python como lenguaje de programación principal, entre otros",
	},
];

import ExperienceItem from "@/components/ExperienceItem.astro";
---

<section class="my-10 md:my-20 lg:max-w-3xl mx-auto">
	<ol class="relative border-s border-gray-700">
        {
          EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">
              <ExperienceItem {...experience} />
            </li>
          ))
        }
      </ol>
</section>