---
const EXPERIENCE = [
	{
		date: "Mar 2023 - Jun 2023",
		title: "Junior Java Developer",
		company: "Viafirma",
		description:
			"Java Spring Framework (Spring Boot, Spring Security, and Spring Data JPA/Hibernate). Skills in handling SQL relational databases like PostgreSQL and MySQL, as well as in designing and developing RESTful API services. Testing with JUnit and Mockito.",
		latest: true,
	},
	{
		date: "May 2019 - Mar 2021",
		title: "Production Engineer",
		company: "Saica Group",
		description:
			"Responsible for the Saica Group security project in Spain and Portugal. LOTO procedures. Lean, 5S, analysis, changeover times, etc. Supervision of preventive maintenance, risk assessments, and non-conformity management.",
	},
	{
		date: "Feb 2018 - Jun 2018",
		title: "Intern",
		company: "IDENER",
		description:
			"Machine learning projects using Python as the main programming language, among others.",
	},
];

import ExperienceItem from "@/components/ExperienceItem.astro";
---

<ol class="start-1 relative border-s border-gray-700">
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-10">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>