---
const currentYear = new Date().getFullYear();

import email from '@/components/Hero.astro'
---

<footer class="text-center text-zinc-200/90 text-sm">
	<div>
		© {currentYear} Amador
	</div>
    <div>
        <ul>
            <li>About Me</li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</footer>
