---
const navItems = [
	{ href: "#experience", text: "Experience" },
	{ href: "#projects", text: "Projects" },
	{ href: "#about-me", text: "About me" },
];
---

<header class="fixed top-0 flex justify-center w-full z-10 mt-2">
	<nav class="flex gap-x-4 md:gap-x-6 px-5 text-sm rounded-full">
		{
			navItems.map(({ href, text }) => (
				<a class="py-2 transition hover:text-gray-300" href={href}>
					{text}
				</a>
			))
		}
	</nav>
</header>


<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		to {
			@apply shadow-lg ring-1 backdrop-blur bg-white/50 ring-white/10;
		}
	}
</style>

