---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { ui } from "@/i18n/ui";
import Picker from "@/components/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

type NavKey = "nav.experience" | "nav.projects" | "nav.about-me";

const navItems: { href: string; key: NavKey }[] = Object.keys(ui[lang])
	.filter((key): key is NavKey => key.startsWith("nav."))
	.map((key) => {
		return { href: `#${key.split(".")[1]}`, key };
	});

//const navItems = [
//    { href: "#experience", key: "Experience" },
//    { href: "#projects", key: "Projects" },
//    { href: "#about-me", key: "About me" },
//];
---

<header class="fixed top-0 flex justify-center items-center gap-x-4 w-full z-10 mt-2">
	<nav class="flex gap-x-4 md:gap-x-6 px-5 text-sm rounded-full">
		{
			navItems.map(({ href, key }) => (
				<a
					class="py-2 transition text-white hover:text-yellow-100"
					href={href}
				>
					{translate(key)}
				</a>
			))
		}
	</nav>
    <Picker />
</header>

<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		to {
			@apply shadow-lg ring-1 backdrop-blur bg-white/50 ring-white/10;
		}
	}
</style>
